<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{subject}}</title>
    <style>
      body { font-family: Arial, sans-serif; color: #333; line-height: 1.6;
      background-color: #f9f9f9; margin: 0; padding: 0; } .container {
      max-width: 700px; margin: 20px auto; border: 1px solid #ddd;
      border-radius: 8px; background-color: #ffffff; } .header {
      background-color: #ffffff; text-align: center; padding: 10px 0; } .header
      img { width: 650px; max-width: 100%; border-radius: 5px; } .content {
      padding: 30px; } .content h1 { font-size: 24px; color: #333; } .content p
      { font-size: 16px; color: #333; } .footer { padding: 20px;
      background-color: #007bff; color: white; text-align: center;
      border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; } .footer
      p { font-size: 14px; margin: 10px 0; } .footer a { color: white;
      text-decoration: underline; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <img
          src='https://firebasestorage.googleapis.com/v0/b/exypnos-63ca1.appspot.com/o/images%2Flogo-dark.webp?alt=media'
          alt='Company Logo'
        />
      </div>

      <div class='content'>
        <h1>{{subject}}</h1>
        <p>Dear <strong>{{name}}</strong>,</p>
        <p>Your interview for the position of
          <strong>{{positionApplied}}</strong>
          has been scheduled.</p>
        <p><strong>Date and Time:</strong> {{interviewDate}}</p>
        <p>Please make sure you are available on the scheduled date and time.</p>
        <p>Best regards,</p>
        <p>The HR Team</p>
      </div>

      <div class='footer'>
        <p>Best regards,<br /><strong>CodeVider</strong></p>
        <p>Visit our website:
          <a href='https://www.codevider.com/'>www.codevider.com</a></p>
      </div>
    </div>
  </body>
</html>