<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{subject}}</title>
</head>
<body>
  <h1>{{subject}}</h1>
  <p>Dear {{name}},</p>
  <p>Your interview for the position of {{positionApplied}} has been scheduled.</p>
  <p><strong>Date and Time:</strong> {{interviewDate}}</p>
  <p>Please make sure you are available on the scheduled date and time.</p>
  <p>Best regards,</p>
  <p>The HR Team</p>
</body>
</html>
